.batch-select {
  .batch-select-buttons {
    padding: 0;
    display: none;
  }

  .batch-select-toggle {
    float: right;
    border-width: 0px;
  }
  min-height: 4rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}
